<div xmlns="http://www.w3.org/1999/html" style="font-size: large">
    <!--http://blog.jdriven.com/2013/03/how-to-create-singleton-angularjs-services-in-4-different-ways/
    http://stackoverflow.com/questions/16607874/where-should-model-state-be-stored-in-angular-js
    -->

    <h2>Update Details</h2>
    <div ng-if="isResponseReceivedFromServer" ng-init="isResponseReceivedFromServer=false" style="color: #10ff5c">
        {{status.message}}
    </div>
    <br>

    <label>State :</label>
    <input style="padding-left: 10px" type="text" name="state" ng-model="eyebankDocument.state" >
    <br><br>

    <label>City :</label>
    <input style="padding-left: 10px" type="text" name="city" ng-model="eyebankDocument.city" >
<br><br>

    <label>EyeBank Name :</label>
    <input style="padding-left: 10px" type="text" name="nameOfEyebank" ng-model="eyebankDocument.nameOfEyebank" >
    <br><br>
    <label>Contact :</label>
    <input style="padding-left: 10px" type="text" name="contact" ng-model="eyebankDocument.phone" >
    <br><br>
    <label>Address :</label>
    <input style="padding-left: 10px" type="text" name="address" ng-model="eyebankDocument.postalAddress" >
    <br><br>
    
    <a class="btn btn-warning" href="#/eyebanks" style="margin-left:36%">Back</a> &nbsp;&nbsp;
    <button ng-if="!isAddDocumentSuccessful" ng-init="isAddDocumentSuccessful=false" style="width: 60px; height: 20px" ng-click="updateDocument('eyebank')"> Update</button>
    <!--
    //http://jsfiddle.net/fess81/axq5vu41/
        //http://ng-learn.org/2014/01/Dom-Manipulations/
    -->
</div>